<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordVault.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PasswordVault.Properties.Settings>
            <setting name="PasswordLength" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="PasswordGeneratorAlphabet" serializeAs="String">
                <value>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"!@#$%^&amp;*()-_=+&lt;,&gt;.:;`~{}|[]/\\</value>
            </setting>
            <setting name="CopySelectedCellToClipboard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainScreenResolutionX" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="LoginScreenBackgroundColor" serializeAs="String">
                <value>ControlDark</value>
            </setting>
            <setting name="MainScreenBackgroundColor" serializeAs="String">
                <value>AppWorkspace</value>
            </setting>
            <setting name="DataGridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DataTextColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="DataSelectionBackgroundColor" serializeAs="String">
                <value>GradientActiveCaption</value>
            </setting>
            <setting name="DataSelectionTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DataCellBackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="DataFont" serializeAs="String">
                <value>Microsoft Sans Serif, 9.75pt</value>
            </setting>
            <setting name="MainScreenResolutionY" serializeAs="String">
                <value>500</value>
            </setting>
        </PasswordVault.Properties.Settings>
    </userSettings>
</configuration>